:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  /* rel: "noopener noreferrer" */
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-style: italic;
}

table {
  background-color:rgb(130, 130, 130);
  align-self: center;
  max-width: max(350px,75vw);
  min-width: max(350px,60vw);
}

table .innerH2H {
  margin: 0; /* Remove extra space around the table */
  border-spacing: 0; /* Remove gaps between table cells */
  padding: 0; /* Remove internal padding */
}

td .innerH2H th, td .innerH2H td {
  border: 1px solid black; /* Matches outer table borders */
  padding: 5px; /* Adds consistent padding */
}

td.teamName, td.ownerName {
  font-size: min(16px,3.5vw);
}

th .innerH2H table {
  border: 1px solid black;
  border-spacing: 2px;
  padding: 2px;
  margin: 2px;
}

tr {
  background-color: white;
  /* border-color: black; */
}

img {
  padding: .25em;
}

img.standingsLogo {
  width: min(50px,8vw);
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

th {
  padding-right: .25em;
  padding-left: .25em;
  cursor: pointer;
}

.rules {
  margin: 5px;
}

button {
  border-radius: 6px;
  padding: 0.2em 0.4em;
  margin: 0.2em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
